<div class='jumbotron'>
  <h1>TP AngularJs and JPA!</h1>
  <p class='lead'>
    <img src='images/miage.png' alt="Miage"><br>
    By Jérémy Viallatte And Anne-Sophie Balestra
  </p>
</div>

<div class='row marketing'>
  <h4>Device List</h4>
  <p>
    You can see all the devices, <br />
    plus you can delete them and you can see in detail each device.
  </p>

  <h4>Person List</h4>
  <p>
      You can see all the persons, <br />
      plus you can delete them, add one and you can see in detail each person.<br />
      If you see a person with a house in detail you can click to see the house's detail.
  </p>

  <h4>Home List</h4>
  <p>
      You can see all the homes, <br />
      plus you can delete them, add one and you can see in detail each home.<br />
      You can also add SmartDevice to a home if you see this home in detail</p>
</div>
