<a href='#/person'><input class='btn btn-defaul' type='Button' value='Back to the persons list' /></a>
<a href='#/person/delete/{{ person.id }}'><input class='btn btn-defaul' type='Button' value='Delete' /></a>
<br />
<br />

<div class='panel panel-default'>
    <!-- Default panel contents -->
    <div class='panel-heading'>{{ person.firstName }} {{ person.lastName }}</div>
    <div class='panel-body'>
        <ul>
            <li> {{ person.sex }} </li>
            <li> {{ person.email }} </li>
            <li> {{ person.birthday }} </li>
        </ul>
    </div>
    <table class='table'>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Adress</th>
            <th scope='col'>Area</th>
            <th scope='col'>IpAdress</th>
            <th scope='col'>SmartDevices</th>
        </tr>
        <tr ng-repeat=' home in person.homes'>
            <td><a href='#/home/get/{{ home.id }}' > {{ home.id }} </a></td>
            <td><a href='#/home/get/{{ home.id }}' > {{ home.adress }} </a></td>
            <td> {{ home.area }} </td>
            <td> {{ home.ipAdress }} </td>
            <td><ul><li ng-repeat=' device in home.devices'><a href='#/device/get/{{ device.id }}' > {{ device.name }} </a></li></ul></td>
        </tr>
    </table>
</div>
